body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    background-color: #f4f4f4;
}


/*NAVBAR*/

a {
    color: rgb(185, 185, 185);
}

.header li a:hover {
    color: #ffffff;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2c2c2e;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    z-index: 3;
    font-size: 0.7rem;
}

.header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: hidden;
    background-color: #2c2c2e;
}

.header li {
    text-align: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.header li a {
    display: flex;
    border-right: 1px solid #2c2c2e;
    text-decoration: none;
}

.fa-solid {
    color: #aeaeae;
    cursor: pointer;
}

.bag {
    cursor: pointer;
}

.logo {
    padding: 20px 18px;
    background-image: url(/Img/apple.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}

.header .menu-icon {
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

.header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background 0.2s ease-out;
    width: 18px;
}


/*Hamburger*/

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
    background: rgb(255, 255, 255);
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
}

.header .menu-icon .navicon:before {
    top: 5px;
}

.header .menu-icon .navicon:after {
    top: -5px;
}

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked~.menu {
    max-height: 240px;
}

.header .menu-btn:checked~.menu-icon .navicon {
    background: transparent;
}

.header .menu-btn:checked~.menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.header .menu-btn:checked~.menu-icon .navicon:after {
    transform: rotate(45deg);
}

.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
    top: 0;
}

.popup {
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    float: right;
    margin-top: 3.4rem;
    margin-right: 14rem;
    width: 286px;
    height: 313px;
    background-color: white;
    border: none;
    z-index: 1000;
    border-radius: 15px;
    padding: 1rem;
    box-shadow: 1px 1px 1px #5c5c5c;
    /* visibility: hidden; */
}

.open-popup {
    visibility: visible;
}

.popup p {
    color: #5c5c5c;
    width: 100%;
    padding: 1rem;
}

.popup button {
    display: flex;
    align-items: center;
    color: #0066cc;
    width: 100%;
    height: 17%;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-top: 1px solid #5c5c5c;
    background: none;
}

.icons {
    display: inline-block;
    width: 10%;
    height: 50%;
    float: left;
}


/*-------------------------------------------------------------------------------------------------*/


/* Section*/

.homepage-selection {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas: none;
    grid-gap: 10px;
}

.module-content-dark {
    box-sizing: border-box;
    border: 2px solid red;
    display: block;
    height: fit-content;
    position: relative;
    color: #111;
    background-color: #000;
}

.module-content-light {
    box-sizing: border-box;
    border: 2px solid red;
    display: block;
    height: fit-content;
    position: relative;
    color: #fff;
    background-color: #fff;
}

.wrapper {
    display: flex;
    direction: ltr;
    flex-direction: column;
    background-color: #000;
    color: #fff;
    position: absolute;
    width: 100%;
    text-align: center;
}

.headline {
    border: 2px solid red;
    color: rgb(245, 245, 247);
    direction: ltr;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 1;
    font-family: "Gilda Display", serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    margin: 0 auto;
    margin-top: 42px;
    position: relative;
    text-align: center;
}

.backround-black-img {
    background-image: url(/Img/logo_watch_series_8__d2ssndjuokeq_medium.png);
    border: 2px solid red;
    width: 200px;
    height: 60px;
    background-repeat: no-repeat;
    direction: ltr;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 42px;
    position: relative;
}

.backround-white-img {
    background-image: url(/Img/logo_watch_ultra.png);
    border: 2px solid red;
    width: 200px;
    height: 60px;
    background-repeat: no-repeat;
    direction: ltr;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 42px;
    position: relative;
}

.subhead {
    color: rgb(245, 245, 247);
    direction: ltr;
    display: block;
    flex-shrink: 1;
    border: 2px solid red;
    font-family: "Gilda Display", serif;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    margin: 0 auto;
    margin-top: 18px;
    max-width: 330px;
    position: relative;
    text-align: center;
}

.link {
    color: rgb(41, 151, 255);
    direction: ltr;
    display: block;
    font-family: "Gilda Display", serif;
    border: 2px solid red;
    margin: 0 auto;
    margin-top: 18px;
    margin-bottom: 8px;
    max-width: 250px;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    position: relative;
    text-align: center;
}

.icon-icon {
    color: rgb(41, 151, 255);
    display: inline;
    cursor: pointer;
    direction: ltr;
    font-size: 17px;
    margin-left: 25px;
    text-align: center;
    position: relative;
}

.unit-image-wrappers {
    display: block;
    border: 2px solid blue;
    text-align: center;
    padding-top: 1em;
}

.dark-background {
    background-color: #000;
}

.unit-image {
    display: block;
    width: 516px;
    height: 490px;
    background-size: 516px 490px;
    background-repeat: no-repeat;
    position: absolute;
    /* background-image: url(/Img/iphone14pro.jpg); */
}


/* 48em = 768px */

@media (min-width: 48em) {
    .header li {
        float: left;
    }
    .header li a {
        padding: 10px 15px;
    }
    .header .menu {
        clear: none;
        float: right;
        max-height: none;
    }
    .header .menu-icon {
        display: none;
    }
}


/*SLIDER*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slideShow {
    display: flex;
    justify-content: center;
    flex-direction: row;
    position: relative;
    width: 100vw;
    height: 40vw;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
}

.slidesContainer {
    display: flex;
    flex: 1 0 100%;
    flex-direction: row;
    width: 100vw;
    height: 40vw;
    margin: 0;
    padding-top: 4rem;
}

.slideCard {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    margin-left: 1rem;
}

.right-arrow {
    margin-top: 4rem;
    margin-left: 75%;
    background-color: #ffffff00;
    position: absolute;
    width: 25%;
    height: 670px;
    z-index: 1;
    cursor: pointer;
    transform-origin: center;
    transition: transform 0.15s linear, opacity 0.15s linear;
}

.left-arrow {
    margin-top: 4rem;
    background-color: #ffffff00;
    position: absolute;
    width: 25%;
    height: 670px;
    z-index: 1;
    cursor: pointer;
    transition: transform 0.15s linear, opacity 0.15s linear;
}


/*DOTS*/

.wrapper2 {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    height: 37vw;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.slideNumberDots {
    display: flex;
    flex-direction: row;
    justify-content: center;
    bottom: 0%;
    gap: 0.8vw;
    position: absolute;
    width: 100%;
    z-index: 1;
    margin: 0 auto;
    padding: 1vw;
    background-color: transparent;
    pointer-events: none;
}

.slideDot {
    display: flex;
    height: 0.3vw;
    width: 0.3vw;
    border-radius: 50%;
    border: 0px solid rgb(154, 147, 147);
    margin: 0;
    padding: 0;
    background-color: rgb(191, 191, 191);
    transform-origin: center;
    transition: transform 0.2s linear, background-color 0.2s linear;
    pointer-events: all;
}

.slideDot:hover {
    background-color: #000000;
    transform-origin: center;
    transform: scale(1.3);
    cursor: pointer;
}

.slideDot.selectedSlide {
    background-color: #5c5c5c;
    transform: scale(1.2);
    transform-origin: center;
    transition: color, transform 0.3s linear;
    outline: none;
    border-radius: 50%;
}


/*STREAM BTN*/

.stream {
    display: flex;
    position: absolute;
    color: white;
    font-size: 0.8vw;
    font-weight: 400;
    line-height: 1.25;
    width: fit-content;
    height: fit-content;
    top: 95%;
    left: 5%;
    cursor: pointer;
    z-index: 2;
    user-select: none;
    outline: 1px transparent;
    text-decoration: underline;
}


/*IMAGES*/

.img0 {
    content: url("/Img/185707329.jpg");
    width: 1200px;
    height: 670px;
    object-fit: cover;
    user-select: none;
}

.img1 {
    content: url("/Img/689x387\ \(1\).jpg");
    width: 1200px;
    height: 670px;
    object-fit: cover;
    user-select: none;
}

.img2 {
    content: url("/Img/will-smith-emancipation-oltre-la-liberta-apple-tv-plus.jpg");
    width: 1200px;
    height: 670px;
    object-fit: cover;
    user-select: none;
}

.img3 {
    content: url(/Img/Spirited\ visningsbild.png);
    width: 1200px;
    height: 670px;
    object-fit: cover;
    user-select: none;
}

.img4 {
    content: url(/Img/689x387.jpg);
    width: 1200px;
    height: 670px;
    background-size: contain;
    user-select: none;
}

.img5 {
    content: url("/Img/p21271543_b_h8_ab.jpg");
    width: 1200px;
    height: 670px;
    object-fit: cover;
    user-select: none;
}

.img6 {
    content: url("/Img/689x387\ \(2\).jpg");
    width: 1200px;
    height: 670px;
    object-fit: cover;
    user-select: none;
}

.img7 {
    content: url("/Img/689x387\ \(3\).jpg");
    width: 1200px;
    height: 670px;
    object-fit: cover;
    user-select: none;
}

.img8 {
    content: url("/Img/689x387\ \(4\).jpg");
    width: 1200px;
    height: 670px;
    object-fit: cover;
    user-select: none;
}

.img9 {
    content: url("/Img/689x387\ \(5\).jpg");
    width: 1200px;
    height: 670px;
    object-fit: cover;
    user-select: none;
}


/*FOOTER*/

.footer {
    display: inline-block;
    width: 100%;
    height: 400px;
    background-color: #e8e8e8;
    margin-top: 1rem;
    padding-left: 25%;
}

.links {
    display: inline-block;
    width: 13%;
    height: 300px;
    font-size: 0.8rem;
    color: #5c5c5c;
}

.links h4 {
    color: #4e4e4e;
    padding-bottom: 1rem;
    padding-top: 1rem;
    font-size: 0.8rem;
}

.links p {
    padding-bottom: 0.5rem;
}

.copyright {
    width: 100%;
    height: 100px;
}

.copyright-1 {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 20%;
}

.copyright-1 p {
    display: flex;
    justify-content: flex-start;
    padding-left: 0.5rem;
    font-size: 0.8rem;
    color: #5c5c5cb8;
}

.copy-a {
    padding-left: 0.5rem;
    color: #06c;
    font-size: 0.8rem;
}

.copyright-2 {
    display: flex;
    justify-content: flex-start;
    width: 70%;
    height: 25%;
    border-top: #4e4e4e5d 1px solid;
    font-size: 0.8rem;
    color: #7f7f7f;
    padding-left: 0.5rem;
    padding-top: 0.2rem;
}

.sverige {
    padding-left: 47rem;
}

.copyright-3 {
    display: flex;
    justify-content: flex-start;
    width: 70%;
    height: 18%;
    font-size: 0.8rem;
    color: #5c5c5ce6;
}

.copyright-3 p {
    border-right: 1px solid #5c5c5c62;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}