body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    background-color: #f4f4f4;
}

a {
    color: rgb(185, 185, 185);
}

.header li a:hover {
    color: #ffffff;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2c2c2e;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    z-index: 3;
    font-size: 0.7rem;
}

.header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: hidden;
    background-color: #2c2c2e;
}

.header li {
    text-align: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.header li a {
    display: flex;
    border-right: 1px solid #2c2c2e;
    text-decoration: none;
}

.fa-solid {
    color: #dbdbdb;
}

.bag {
    padding-left: 1rem;
}

.logo {
    padding: 20px 18px;
    background-image: url(/Img/apple.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}

.header .menu-icon {
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

.header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background 0.2s ease-out;
    width: 18px;
}

/*Hamburger*/

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
    background: rgb(255, 255, 255);
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
}

.header .menu-icon .navicon:before {
    top: 5px;
}

.header .menu-icon .navicon:after {
    top: -5px;
}

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked ~ .menu {
    max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
    .header li {
        float: left;
    }
    .header li a {
        padding: 10px 15px;
    }
    .header .menu {
        clear: none;
        float: right;
        max-height: none;
    }
    .header .menu-icon {
        display: none;
    }
}
