body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    background-color: #f4f4f4;
}

/*NAVBAR*/

a {
    color: rgb(185, 185, 185);
}

.header li a:hover {
    color: #ffffff;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #171718ea;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    z-index: 3;
    font-size: 0.7rem;
}

.header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: hidden;
}

.header li {
    text-align: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.header li a {
    display: flex;
    text-decoration: none;
}

.menu {
    height: 2.5rem;
}

#magnifying-glass {
    color: #bebebe;
    cursor: pointer;
}

.bag {
    cursor: pointer;
}

.logo {
    padding: 20px 18px;
    background-image: url(/Img/apple.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.header .menu-icon {
    cursor: pointer;
    left: 1%;
    right: 90%;
    position: absolute;
    padding: 28px 20px;
    user-select: none;
}

.header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background 0.2s ease-out;
    width: 18px;
}

/* 62.5rem = 1000px */
@media (max-width: 62.5rem) {
    .menu li {
        padding: 0rem;
    }
}

/* MAX 51.5rem = 830px */
@media (max-width: 51.5rem) {
    .menu li {
        padding: 0rem;
        visibility: hidden;
    }

    #magnifying-glass {
        display: none;
    }

    .bag {
        right: 1%;
        left: 90%;
        position: absolute;
    }

    .logo {
        position: absolute;
    }
}

/* MIN 51.5rem = 830px */
@media (min-width: 51.5rem) {
    .header li a {
        padding: 10px 15px;
    }

    .header .menu-icon {
        display: none;
    }
}

/*Hamburger*/

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
    background: rgb(255, 255, 255);
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
}

.header .menu-icon .navicon:before {
    top: 5px;
}

.header .menu-icon .navicon:after {
    top: -5px;
}

.header .menu-btn {
    display: none;
}

.menu-btn:checked ~ .bag {
    display: none;
}

.header .menu-btn:checked ~ li {
    background-color: #000000;
    transition: max-height 0.5s ease-out;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}

/*BAG-SUB-MENU*/

.sub-menu-wrap {
    position: absolute;
    max-height: 0px;
    transition: max-height 0s;
    overflow: hidden;
    margin-top: 22.4rem;
}

.popup {
    display: block;
    text-align: center;
    margin-left: 59rem;
    width: 286px;
    height: 313px;
    background-color: white;
    border: 0.5px solid #5c5c5c6f;
    border-radius: 15px;
    padding: 1rem;
}

.sub-menu-wrap.open-menu {
    max-height: 400px;
}

.popup p {
    color: #5c5c5c;
    width: 100%;
    padding: 1rem;
    font-size: 0.9rem;
}

.popup button {
    display: flex;
    align-items: center;
    width: 100%;
    height: 17%;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-top: 1px solid #5c5c5c;
    background: none;
}

.popup button a {
    color: #0066cc;
    text-decoration: none;
}

.popup button a:hover {
    text-decoration: underline;
}

.icons {
    display: inline-block;
    width: 10%;
    height: 50%;
}

/*78rem = 1250px*/
@media (max-width: 78rem) {
    .popup {
        margin-left: 43rem;
    }
}

@media (max-width: 62.5rem) {
    .popup {
        margin-left: 32rem;
    }
}

/*51.5rem = 830px*/
@media (max-width: 51.5rem) {
    .sub-menu-wrap.open-menu {
        width: 100%;
    }

    .popup {
        display: inline-block;
        width: 100%;
        margin-left: 0;
        border-radius: 0;
    }

    .popup p {
        display: inline-block;
        width: 80%;
        height: 10%;
        margin-bottom: 0.5rem;
    }

    .popup button {
        display: inline-block;
        width: 80%;
        padding-top: 0.5rem;
    }

    .popup button a {
        float: left;
    }

    .icons {
        float: left;
    }
}

/*SEARCH-SUB-MENU*/
.sub-menu-wrap2 {
    position: absolute;
    max-height: 0px;
    transition: max-height 0s;
    overflow: hidden;
    margin-top: 18rem;
}

.popup2 {
    display: block;
    text-align: center;
    width: 657px;
    height: 243px;
    background-color: white;
    border: 0.5px solid #5c5c5c6f;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 1rem;
}

.sub-menu-wrap2.open-menu2 {
    max-height: 400px;
}
/*
body .sub-menu-wrap2 .open-menu2 {
    filter: blur(5px);
    background: rgba(0, 0, 0, 0.08);
    transition: filter 0ms ease-in-out 0ms;
    width: 100%;
    height: 100%;
}
*/
.pop2 {
    display: flex;
    width: 100%;
    height: 2rem;
}

.pop2:hover {
    background-color: rgb(235, 235, 235);
}

.pop2 a {
    display: flex;
    align-items: center;
    padding-left: 3rem;
    font-size: 0.9rem;
    color: #000000e4;
    text-decoration: none;
}
.pop2 a:hover {
    color: #06c;
}

.popup2 h4 {
    display: flex;
    font-size: 0.8rem;
    font-weight: 100;
    padding-bottom: 1rem;
    padding-top: 1rem;
    padding-left: 2rem;
    color: #5c5c5c;
}

/*SUB-MENU-MOBILE*/
/*
.sub-menu-mobile {
    position: absolute;
    transition: max-height 1s;
    overflow: hidden;
    max-height: 0rem;
    height: 100rem;
    width: 100%;
    background-color: #000000;
    padding: 5rem;
}

.sub-menu-mobile.open-Menu3 {
    max-height: 100rem;
}

.mobile-menu {
    list-style: none;
}

.mobile-menu li a{
    display: block;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-bottom: #e2e2e251 solid 1px;
    padding: 1rem;
    padding-left: 0;
}



/*SLIDER*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slideShow {
    display: flex;
    justify-content: center;
    flex-direction: row;
    position: relative;
    width: 100vw;
    height: 40vw;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
}

.slidesContainer {
    display: flex;
    flex: 1 0 100%;
    flex-direction: row;
    width: 100vw;
    height: 40vw;
    margin-left: 23%;
    padding-top: 1rem;
}

.slideCard {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    transition-timing-function: ease-in-out cubic-bezier(0.7, 0.16, 0.13, 0.95);
}

.right-arrow {
    margin-top: 4rem;
    margin-left: 75%;
    background-color: #ffffff00;
    position: absolute;
    width: 25%;
    height: 670px;
    z-index: 1;
    cursor: pointer;
    transform-origin: center;
    transition: transform 0.15s linear, opacity 0.15s linear;
}

.left-arrow {
    margin-top: 4rem;
    background-color: #ffffff00;
    position: absolute;
    width: 25%;
    height: 670px;
    z-index: 1;
    cursor: pointer;
    transition: transform 0.15s linear, opacity 0.15s linear;
}

/*DOTS*/

.wrapper2 {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    height: 33vw;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.slideNumberDots {
    display: flex;
    flex-direction: row;
    justify-content: center;
    bottom: 0%;
    gap: 0.8vw;
    position: absolute;
    width: 100%;
    height: 1rem;
    z-index: 10;
    margin: 0 auto;
    padding: 1vw;
    background-color: transparent;
    pointer-events: none;
}

.slideDot {
    display: flex;
    height: 0.3vw;
    width: 0.3vw;
    border-radius: 50%;
    border: 0px solid rgb(154, 147, 147);
    margin-top: 0.9rem;
    padding: 0;
    background-color: #d0d0d0;
    transform-origin: center;
    transition: transform 0.2s linear, background-color 0.2s linear;
    pointer-events: all;
}

.slideDot:hover {
    background-color: #000000;
    transform-origin: center;
    transform: scale(1.3);
    cursor: pointer;
}

.slideDot.selectedSlide {
    background-color: #5c5c5c;
    transform: scale(1.2);
    transform-origin: center;
    transition: color, transform 0.3s linear;
    outline: none;
    border-radius: 50%;
}

/*STREAM BTNS*/

.stream {
    position: absolute;
    width: 130px;
    height: 40px;
    margin-top: 36rem;
    margin-right: 52rem;
    padding: 0.7rem;
    font-weight: 600;
    font-size: 0.9rem;
    border-radius: 50px;
    background-color: rgb(232, 232, 232);
    color: rgb(33, 33, 33);
    cursor: pointer;
    outline: 1px transparent;
    text-decoration: none;
}

.fa-solid {
    color: #000000;
    padding-left: 0.4rem;
    padding-top: 0.1rem;
}

.movie {
    position: absolute;
    width: 630px;
    height: 40px;
    margin-top: 35.6rem;
    margin-right: 2rem;
    padding: 0.7rem;
    font-weight: 600;
    font-size: 1.5rem;
    text-decoration: none;
    color: rgb(232, 232, 232);
}

.movie h4 {
    display: inline-block;
    font-weight: 600;
    font-size: 1.3rem;
}

.movie p {
    display: inline-block;
    font-weight: 500;
    font-size: 1.2rem;
    padding-left: 0.5rem;
}

.dot {
    display: inline-block;
    border: none;
    background-color: #fff;
    height: 4px;
    width: 4px;
    border-radius: 50%;
    margin: 0.2rem;
    margin-left: 0.5rem;
}

/*IMAGES*/

.img0 {
    content: url("/Img/185707329.jpg");
    width: 1100px;
    height: 670px;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    object-fit: cover;
    user-select: none;
}

.img1 {
    content: url("/Img/Spirited\ visningsbild.png");
    width: 1100px;
    height: 670px;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    object-fit: cover;
    user-select: none;
}

.img2 {
    content: url(/Img/0.jpg);
    width: 1100px;
    height: 670px;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    object-fit: cover;
    user-select: none;
}

.img3 {
    content: url(/Img/1.jpg);
    width: 1100px;
    height: 670px;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    object-fit: cover;
    user-select: none;
}

.img4 {
    content: url(/Img/2.jpg);
    width: 1100px;
    height: 670px;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    background-size: contain;
    user-select: none;
}

.img5 {
    content: url(/Img/3.jpg);
    width: 1100px;
    height: 670px;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    object-fit: cover;
    user-select: none;
}

.img6 {
    content: url(/Img/4.jpg);
    width: 1100px;
    height: 670px;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    object-fit: cover;
    user-select: none;
}

.img7 {
    content: url(/Img/5.jpg);
    width: 1100px;
    height: 670px;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    object-fit: cover;
    user-select: none;
}

.img8 {
    content: url("/Img/p21271543_b_h8_ab.jpg");
    width: 1100px;
    height: 670px;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    object-fit: cover;
    user-select: none;
}

.img9 {
    content: url("/Img/will-smith-emancipation-oltre-la-liberta-apple-tv-plus.jpg");
    width: 1100px;
    height: 670px;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    object-fit: cover;
    user-select: none;
}

/*FOOTER*/

.footer {
    display: block;
    width: 100%;
    height: 400px;
    background-color: #f5f5f7;
    border-top: #d2d2d75b 1px solid;
    margin-top: 1rem;
}

.footer-wrapper {
    display: flex;
    justify-content: center;
}

.links {
    display: inline-table;
    width: 10%;
    height: 300px;
    font-size: 0.8rem;
    color: #6e6e73;
    margin-right: 2rem;
}

.links h4 {
    color: #424245;
    padding-bottom: 1rem;
    padding-top: 1rem;
    font-size: 0.8rem;
}

.links a {
    display: inline-block;
    width: 80%;
    padding-bottom: 0.5rem;
    text-decoration: none;
    color: #5c5c5c;
}

@media (max-width: 51.5rem) {
    .footer-wrapper {
        display: inline-block;
    }

    .links {
        width: 100%;
        height: 1rem;
    }
    .links a{
        display: none;
    }

    .links h4 {
        font-weight: 200;
        margin-left: 1rem;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        padding-top: 0.6rem;
        padding-bottom: 0.6rem;
    }
}

.links a:hover {
    text-decoration: underline;
}

.copyright {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 10px;
}

.footer-wrapper2 {
    display: inline-block;
    justify-content: center;
}

.copyright-1 {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 1.5rem;
}

.copyright-1 p {
    display: inline-block;
    justify-content: flex-start;
    padding-left: 0.5rem;
    font-size: 0.8rem;
    color: #5c5c5c;
}

.copy-a {
    padding-left: 0.5rem;
    color: #06c;
    font-size: 0.8rem;
    cursor: pointer;
}

.copy-a:hover {
    text-decoration: underline;
    color: #06c;
}

.copyright-2 {
    display: inline-block;
    width: 100%;
    height: 1.5rem;
    border-top: #4e4e4e5d 1px solid;
    font-size: 0.8rem;
    color: #7f7f7f;
    padding-left: 0.5rem;
    padding-top: 0.2rem;
}

.sverige {
    color: #5c5c5c;
    cursor: pointer;
    text-decoration: none;
    float: right;
}

.sverige:hover {
    text-decoration: underline;
}

.copyright-3 {
    display: flex;
    width: 100%;
    height: 1rem;
    font-size: 0.8rem;
    color: #5c5c5ce6;
}

.policy {
    border-right: 1px solid #5c5c5c62;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    color: #6e6e73;
    text-decoration: none;
}

.policy:hover {
    text-decoration: underline;
}

/*alex--------------------------------------------------------------*/

/*IMAC*/
a {
    display: block;
    text-decoration: none;
}

.cards1 {
    height: 1900px;
}

.imac {
    background-image: url("/Img/hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0.8rem;
}

.title-heading {
    color: #000000d7;
    font-size: 3.2rem;
    line-height: 1.08;
    letter-spacing: 0.005rem;
}

.cta {
    text-align: center;
    margin-top: 1.8rem;
}

.title {
    color: rgb(0, 0, 0);
    text-align: center;
    padding-top: 5.5rem;
}
/*IMAC END*/
/*HOLIDAY*/

.holliday {
    background-image: url("/Img/holiday-logo-202211\ \(1\).png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 399px;
    width: 18%;
    margin-top: 6rem;
}

.holiday-wrapper {
    display: inline-block;
    justify-content: center;
    width: 100%;
    height: 700px;
    background-color: rgb(1, 0, 42);
}

.holiday-wrapper2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
}

.holiday-wrapper3 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 25%;
    margin-top: 6rem;
}

.title-heading2 {
    color: #ffffff;
    font-size: 3.2rem;
    line-height: 1.08;
    letter-spacing: 0.005rem;
}

.title2 {
    color: #fff;
}

.cta2 {
    text-align: center;
}

/*HOLIDAY END*/
/*IPAD*/

.ipad {
    background-image: url("/Img/ipad.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    width: 100%;
}

.title-heading3 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 25rem;
    padding-top: 15%;
    color: #000000d7;
    font-size: 3.2rem;
    line-height: 1.08;
    letter-spacing: 0.005rem;
}

.title3 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 25rem;
    color: rgb(0, 0, 0);
    text-align: center;
}

.cta3 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 25rem;
    margin-top: 1.8rem;
}

.cta-link3 {
    color: #06c;
    font-size: 2.1rem;
    display: inline-block;
    font-size: 1rem;
    margin-right: 1rem;
}
/*IPAD END*/
/*----------------------------*/

.title-sub-heading {
    font-size: 1.5rem;
    margin-top: 0.6rem;
    letter-spacing: 0.008rem;
    font-weight: 400;
}

.cta-link {
    color: #06c;
    font-size: 2.1rem;
    display: inline-block;
    font-size: 1rem;
}
/*----------------------------*/
/*alex-------------------------------------------------------------*/

/*Vüsal*/

.homepage-selection {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas: none;
    grid-gap: 10px;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 13rem;
    
    margin-bottom: 1rem;
}

.wrapper {
    display: block;
    justify-content: center;
    align-items: center;
    color: #fff;
    width: 100%;
    height: 50%;
}

.module-content {
    background-image: url(/Img/iphone14pro.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: #000000;
    height: 600px;
    width: 100%;
}

.module-content2 {
    background-image: url(/Img/airpods_pro.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: #000000;
    height: 600px;
    width: 100%;
}

.module-content3 {
    background-image: url(/Img/promo_apple_watch_series_8__ch7rexplmihe_large.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: #000000;
    height: 600px;
    width: 100%;
}

.module-content4 {
    background-image: url(/Img/promo_apple_watch_ultra__gnsqulvdc4a6_large.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: #fbfbfd;
    height: 600px;
    width: 100%;
}

.module-content5 {
    background-image: url(/Img/promo_ipadpro__ch217v9v7no2_medium.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: #000000;
    height: 600px;
    width: 100%;
}

.module-content6 {
    background-image: url(/Img/promo_tv4k_avail__e17d9isb0vwy_medium.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: #fbfbfd;
    height: 600px;
    width: 100%;
}

.backround-black-img {
    background-image: url(/Img/logo_watch_series_8__d2ssndjuokeq_medium.png);
    width: 200px;
    height: 60px;
    background-repeat: no-repeat;
    direction: ltr;
    display: flex;
    justify-content: center;
}

.backround-white-img {
    background-image: url(/Img/logo_watch_ultra.png);
    width: 200px;
    height: 60px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}

.headline {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 500;
    line-height: 36px;
    border: none;
    padding-top: 5rem;
}

.headline2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: rgb(0, 0, 0);
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    border: none;
    padding-top: 5rem;
}

.subhead {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 19px;
    font-weight: 400;
}

.subhead2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 19px;
    font-weight: 400;
}

.subhead img {
    margin-left: 0.5rem;
    width: 29px;
    height: 29px;
}

.watch-ultra {
    margin-left: 42%;
    margin-top: 5rem;
}

.link1 {
    display: inline-block;
    justify-content: center;
    align-items: center;
    color: rgb(44, 129, 215);
    margin-right: 1rem;
    font-size: 17px;
    padding-left: 43%;
}

.link2 {
    display: inline-block;
    justify-content: center;
    align-items: center;
    color: rgb(44, 129, 215);
    margin-right: 1rem;
    font-size: 17px;
    padding-left: 1%;
}

.link {
    margin-top: 1rem;
}
