body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    background-color: #f4f4f4;
}

/*NAVBAR*/

a {
    color: rgb(185, 185, 185);
}

.header li a:hover {
    color: #ffffff;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2c2c2e;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    z-index: 3;
    font-size: 0.7rem;
}

.header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: hidden;
    background-color: #2c2c2e;
}

.header li {
    text-align: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.header li a {
    display: flex;
    border-right: 1px solid #2c2c2e;
    text-decoration: none;
}

.fa-solid {
    color: #aeaeae;
}

.bag {
    padding-left: 1rem;
    padding: 1rem;
}

.logo {
    padding: 20px 18px;
    background-image: url(/Img/apple.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}

.header .menu-icon {
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

.header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background 0.2s ease-out;
    width: 18px;
}


/*Hamburger*/

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
    background: rgb(255, 255, 255);
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
}

.header .menu-icon .navicon:before {
    top: 5px;
}

.header .menu-icon .navicon:after {
    top: -5px;
}

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked~.menu {
    max-height: 240px;
}

.header .menu-btn:checked~.menu-icon .navicon {
    background: transparent;
}

.header .menu-btn:checked~.menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.header .menu-btn:checked~.menu-icon .navicon:after {
    transform: rotate(45deg);
}

.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
    top: 0;
}

/*-------------------------------------------------------------------------------------------------*/

.homepage-selection collection-module {
    display: grid;
    column-gap: 50px;
    grid-template-columns: 100px 100px;
    grid-template-rows: 100px;
    grid-template-areas: none;
    position: relative;
    direction: ltr;
}

.iphone-14-pro {
    display: block;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    color: rgb(29, 39, 31);
    direction: ltr;
    height: 546px;
    position: relative;
    margin-top: 0px;
}

.module-content {
    box-sizing: border-box;
    border: 2px solid red;
    display: block;
    height: 534px;
    padding-top: 44px;
    position: relative;
    color: #111;
}

.wrapper {
    display: flex;
    direction: ltr;
    flex-direction: column;
    background-color: #111;
    color: #fff;
    position: relative;
    -webkit-box-orient: vertical;
}

.wrapper-copy {
    display: block;
    direction: ltr;
    position: relative;
    margin-top: 44px;
    color: rgb(245, 245, 247);
}

.headline {
    border: 2px solid red;
    color: rgb(245, 245, 247);
    direction: ltr;
    display: block;
    flex-shrink: 1;
    font-family: 'Gilda Display', serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    margin-block-end: 0px;
    margin-block-start: 42px;
    margin-inline-end: 54px;
    margin-inline-start: 54px;
    margin-right: 54px;
    margin-left: 54px;
    margin-top: 42px;
    max-width: 330px;
    position: relative;
    text-align: center;
}

.subhead {
    color: rgb(245, 245, 247);
    direction: ltr;
    display: block;
    flex-shrink: 1;
    border: 2px solid red;
    font-family: 'Gilda Display', serif;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    margin-block-end: 0px;
    margin-block-start: 4px;
    margin-inline-end: 54px;
    margin-inline-start: 54px;
    margin-left: 54px;
    margin-right: 54px;
    margin-top: 4px;
    max-width: 330px;
    position: relative;
    text-align: center;
}

.cta-link {
    direction: ltr;
    display: block;
    font-family: 'Gilda Display', serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    margin-top: 13px;
    position: relative;
    text-align: center;
}

.cta-link a {}


/* .flex-container {
    border: 2px solid blue;
    display: flex;
    justify-content: center;
}

.flex-container div {
    margin: 20px;
    width: 100%;
    padding: 20px;
    border: 2px solid red;
} */

/*-------------------------------------------------------------------------------------------------*/

/* 48em = 768px */

@media (min-width: 48em) {
    .header li {
        float: left;
    }
    .header li a {
        padding: 10px 15px;
    }
    .header .menu {
        clear: none;
        float: right;
        max-height: none;
    }
    .header .menu-icon {
        display: none;
    }
    
}

/*SLIDER*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slideShow {
    display: flex;
    justify-content: center;
    flex-direction: row;
    position: relative;
    width: 100vw;
    height: 40vw;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
}

.slidesContainer {
    display: flex;
    flex: 1 0 100%;
    flex-direction: row;
    width: 100vw;
    height: 40vw;
    margin: 0;
    padding-top: 4rem;
}

.slideCard {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    margin-left: 1rem;
}

.right-arrow {
    margin-top: 4rem;
    margin-left: 75%;
    background-color: #ffffff00;
    position: absolute;
    width: 25%;
    height: 670px;
    z-index: 1;
    cursor: pointer;
    transform-origin: center;
    transition: transform 0.15s linear, opacity 0.15s linear;
}

.left-arrow {
    margin-top: 4rem;
    background-color: #ffffff00;
    position: absolute;
    width: 25%;
    height: 670px;
    z-index: 1;
    cursor: pointer;
    transition: transform 0.15s linear, opacity 0.15s linear;
}

/*DOTS*/

.wrapper2 {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    height: 37vw;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.slideNumberDots {
    display: flex;
    flex-direction: row;
    justify-content: center;
    bottom: 0%;
    gap: 0.8vw;
    position: absolute;
    width: 100%;
    z-index: 1;
    margin: 0 auto;
    padding: 1vw;
    background-color: transparent;
    pointer-events: none;
}

.slideDot {
    display: flex;
    height: 0.3vw;
    width: 0.3vw;
    border-radius: 50%;
    border: 0px solid rgb(154, 147, 147);
    margin: 0;
    padding: 0;
    background-color: rgb(191, 191, 191);
    transform-origin: center;
    transition: transform 0.2s linear, background-color 0.2s linear;
    pointer-events: all;
}

.slideDot:hover {
    background-color: #000000;
    transform-origin: center;
    transform: scale(1.3);
    cursor: pointer;
}

.slideDot.selectedSlide {
    background-color: #5c5c5c;
    transform: scale(1.2);
    transform-origin: center;
    transition: color, transform 0.3s linear;
    outline: none;
    border-radius: 50%;
}

/*STREAM BTN*/

.stream {
    display: flex;
    position: absolute;
    color: white;
    font-size: 0.8vw;
    font-weight: 400;
    line-height: 1.25;
    width: fit-content;
    height: fit-content;
    top: 95%;
    left: 5%;
    cursor: pointer;
    z-index: 2;
    user-select: none;
    outline: 1px transparent;
    text-decoration: underline;
}

/*IMAGES*/

.img0 {
    content: url("/Img/185707329.jpg");
    width: 1200px;
    height: 670px;
    object-fit: cover;
    user-select: none;
}

.img1 {
    content: url("/Img/689x387\ \(1\).jpg");
    width: 1200px;
    height: 670px;
    object-fit: cover;
    user-select: none;
}

.img2 {
    content: url("/Img/will-smith-emancipation-oltre-la-liberta-apple-tv-plus.jpg");
    width: 1200px;
    height: 670px;
    object-fit: cover;
    user-select: none;
}

.img3 {
    content: url(/Img/Spirited\ visningsbild.png);
    width: 1200px;
    height: 670px;
    object-fit: cover;
    user-select: none;
}

.img4 {
    content: url(/Img/689x387.jpg);
    width: 1200px;
    height: 670px;
    background-size: contain;
    user-select: none;
}

.img5 {
    content: url("/Img/p21271543_b_h8_ab.jpg");
    width: 1200px;
    height: 670px;
    object-fit: cover;
    user-select: none;
}

.img6 {
    content: url("/Img/689x387\ \(2\).jpg");
    width: 1200px;
    height: 670px;
    object-fit: cover;
    user-select: none;
}

.img7 {
    content: url("/Img/689x387\ \(3\).jpg");
    width: 1200px;
    height: 670px;
    object-fit: cover;
    user-select: none;
}

.img8 {
    content: url("/Img/689x387\ \(4\).jpg");
    width: 1200px;
    height: 670px;
    object-fit: cover;
    user-select: none;
}

.img9 {
    content: url("/Img/689x387\ \(5\).jpg");
    width: 1200px;
    height: 670px;
    object-fit: cover;
    user-select: none;
}

/*alex*/
.one{
    padding: 300px;
    background-color: #fff;
    display: flex;
    justify-content: center;
}
.two{
    padding: 300px;
    background-color: rgb(4, 4, 42);
    display: flex;
    justify-content: center;
}
.three{
    padding: 300px;
    background-color: #fff;
    display: flex;
    justify-content: center;
}
/*alex*/